
body{
  font-family: Roboto Slab;
  background-color: #760000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
.bg{
  background-color: #760000;
}

*{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none; 
  font-family: Roboto Slab;
}
h1, h2, h3, h4, h5, h6, {
  font-family: Roboto Slab;
  margin-bottom: 14px;
  color: #fff;
}

@media screen and (min-width: 450px) {
  h1 {
    font-size: 100px;
    font-family: Oswald;
    letter-spacing: 3px;
    line-height: 80px;
    font-weight: 500;
    word-wrap: break-word;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }

  h3 {
    font-size: 26px;
    line-height: 29px;
  }

  h4 {
    font-size: 20px;
    line-height: 25px;
  }

  h5 {
    font-size: 16px;
    line-height: 21px;
  }

  h6 {
    font-size: 15px;
  }
}

.white{
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-family: Roboto Slab;
    margin-bottom: 14px;
}

.whiteside{
  color: #fff;
  font-size: 50px;
  font-family: Roboto Slab;
    margin-bottom: 14px;
}

@media screen and (max-width: 450px) {
  .white{
    font-size: 40px;
  }
  h1 {
  font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 15px;
  }

  h5 {
    font-size: 13px;
  }

  h6 {
    font-size: 10px;
  }
}

.wht{
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-family: Roboto Slab;
  margin-bottom: 14px;
  text-decoration: none;
}

footer{
  position: relative;
  bottom: 0px !important;
}
.footer-distributed{
  background-color: rgb(16, 31, 46);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left; 
  padding: 55px 50px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
 
.footer-distributed .footer-left{
  width: 40%;
}
 
.footer-distributed h3{
  color:  #ffffff;
  margin: 0;
}
 
.footer-distributed h3 span{
  color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer-distributed .footer-company-name{
  color:  #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
 
.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i:hover{
  -webkit-transform: scale(1.1,1.1) rotate(360deg) ;
  -moz-transform: scale(1.1,1.1) rotate(360deg) ;
  -o-transform: scale(1.1,1.1) rotate(360deg) ;
  transform: scale(1.1,1.1) rotate(360deg) ;
}
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.footer-distributed .footer-center p a{
  text-decoration: none;
}
 
.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-right .footer-icons a:hover{
  -webkit-transform: scale(1.1,1.1) rotate(360deg) ;
  -moz-transform: scale(1.1,1.1) rotate(360deg) ;
  -o-transform: scale(1.1,1.1) rotate(360deg) ;
  transform: scale(1.1,1.1) rotate(360deg) ;
}


.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
 
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
  margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
 
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
 
  margin-right: 3px;
  margin-bottom: 5px;
}
 
@media (max-width: 880px) {
 
  .footer-distributed{
    font: bold 14px sans-serif;
  
  }
 
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
 
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}

#btn {  
    position: fixed;
    bottom: 10px;
    float: right;
    right: 20.5%;
    left: 95.5%;
    max-width: 90px;
    width: 70px;
    font-size: 30px;
    border-color: #760000;
    background-color: #760000;
    padding: .5px;
    border-radius: 4px;
}

.navigation__checkbox {
    display: none; }
  
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__button {
        top: 3rem;
        right: 3rem; } }
  
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#760000, #760000);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media only screen and (max-width: 56.25em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__background {
        top: 3.5rem;
        right: 3.5rem; } }
  
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  
  .navigation__item {
    margin: 1rem; }
  
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #0400ff;
    transform: translateX(1rem); }
  
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

button {
  color: #353a43;
  background-color: #eee;
  padding: 0.3em 0.8em;
  border: 0;
  border-radius: 3px;
  font-size: 0.95em;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px #353a43;
  transition: all ease .3s;
}

button:hover,
button:active {
  color: #486b93;
  background-color: #fff;
}

.wrappe {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 60%;
  left: 52%;
  transform: translate(-50%, -50%) translateY(20px) scale(1.5);
  overflow: hidden;
  animation-delay: 0.3s;
}
.wrappe a{
    font: #fff;
}

@media screen and (max-width: 600px) {
  .wrappe {
    transform: translate(-50%, -50%) scale(1);
  }
}
.conta {
  position: absolute;
  width: 350px;
  height: 350px;
}
[data-typing] {
  position: absolute;
  top: 0;
  /*   border: 1px solid #f55; */
  transform-origin: 0% 0%;
  font-size: 25px;
  margin: 0;
  padding: 0;
  top: 100px;
  line-height: 1;
  color: #fff;
}
[data-typing="i"] {
  top: 0;
  left: 50px;
  font-size: 90px;
  height: 70px;
  line-height: 70px;
}
[data-typing="mech"] {
  top: 3px;
  left: 80px;
  font-size: 27px;
  letter-spacing: 1px;
}
[data-typing="engineer"] {
  top: 30px;
  left: 80px;     
  font-size: 40px;
  letter-spacing: 1px;
}
[data-typing="with"] {
  top: 74px;
  left: 265px;
  font-size: 36px;
  transform: rotate(90deg);
  color: #fff;
}
[data-typing="expertise"] {
  top: 74px;
  left: 229px;
  transform: rotate(90deg);
  font-size: 24px;
}
[data-typing="in"] {
  top: 72px;
  right: 200px;
  font-size: 30px;
}
[data-typing="rob"] {
      top: 100px;
  right: 160px;
  font-size: 30px;
}
[data-typing="vision"] {
    top: 128px;
  right: 160px;
  font-size: 30px;
}
[data-typing="automation"] {
  top: 157px;
  right: 160px;
  font-size: 30px;
}
[data-typing="author"] {
  top: 190px;
  right: -10px;
  font-size: 30px;
  background: #333;
  padding: 0px 4px;
}

body .scenejs-editor-timeline {
  position: fixed;
  bottom: 0;
  max-height: 300px;
}

    .drone-container {
      position: relative;
      animation-delay: 1s;
    }

    .camera-container {
      position: absolute;
      width: 60px;
      top: 110px;
      left: 120px;
    }


    .blade {
      position: absolute;
      top: 46px;
      animation-duration: 0.2s;
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-play-state: running;
    }

    .bladeLeft {
      left: 5px;
    }

    .bladeRight {
      left: 224px;
    }

    @keyframes spin {
      from {
        transform:rotateY(0deg);
      }
      to {
         transform:rotateY(-360deg);
      }
    }

    @keyframes flash {
      0% {
          fill: #fff;
          opacity:1;
      }
      11% {
          fill: #fff;
      }
      22% {
          fill: #fff;
      }
      55% {
          fill: yellow;
      }
      77% {
          fill: yellow;
      }
      100% {
          fill: #fff;
      }
    }
